<div class="navigation" >    
    <div class="title">
        <img src="/images/logo.png">
        <div class="title-text"><b>MID-COLUMBIA</b> CHAPTER</div>
    </div>
    <div class="user-section">
        <% if (user !== undefined && user !== null && user.username) { %> 
        <a href="/">
            <img src="/images/contacts-256.png">
            <div class="captions"><%= user.username %></div>
        </a>
        <a href="/logout">
            <img src="/images/logout-256.png">
            <div class="captions">Logout</div>
        </a>
        <% }%>
    </div>
</div>