<div class="sidebar" >   
    <% links.forEach((link)=>{ %>
        <div class="link" onClick="window.location.href = '<%= link.href %>'">
            <img src="<%= link.src %>">
            <div class="link-text-container">
                <div class="link-text">
                    <%= link.text %>
                </div>
            </div>
        </div>
    <% })%>
</div>