<%- include('includes/head.ejs') %>
</head>

<body>    

    <%- include('includes/navigation.ejs') %> 
    <div class="main">
        <div class="content">

            <h1>Start of CSTA Page Using EJS templating engine for Express.js</h1>
            <h3>Checkout the views folder (csta_home.ejs) for the files that create this page</h3>
        </div>
    </div>
<%- include('includes/sidebar.ejs') %>    
<%- include('includes/end.ejs') %>