<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <%- include('includes/navigation.ejs') %>
    <div class="main login">
        <div class="login-container">
        <div>
            <h2>Login</h2>
            <p>Please enter your email or username, and password</p>
            </div>
            <form id="Login" method="post">
                <div>
                    <input type="text" name="emailOrUsername" id="emailOrUsername" placeholder="Email or Username">
                </div>
                <br>
                <div>
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <br>
                <input hidden="true" value="true" name="loginForm">
                <input type="submit">
            </form>
            <a class='register' href='/register'>Register</a>
        </div>
    </div>
    <%- include('includes/end.ejs') %>