<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/register.css">
</head>

<body>

    <%- include('includes/navigation.ejs') %>
    <div class="main register">
        <div class="register-container">
            <div class='register-form-title'>Register</div>
            <div class='formContainer'>
                <p><strong>Note: All fields are required.</strong></p>
                <form method="post" accept-charset="utf-8">
                    <label for="first_name" <% if (validation.first_name) { %> style='color: red' <% } %> >
                        First Name</label>
                    <input type="text" name="first_name" id="first_name" placeholder="first name" value="<%= values.first_name %>" >

                    <label for="last_name" <% if (validation.last_name) { %> style='color: red' <% } %> >Last
                        Name</label>
                    <input type="text" name="last_name" id="last_name" placeholder="last name" value="<%= values.last_name %>" >

                    <label for="username" <% if (validation.username) { %> style='color: red' <% } %> >Username</label>
                    <div class="help-block">Only letters and numbers are allowed.</div>
                    <input type="text" name="username" id="username" placeholder="username" value="<%= values.username %>" >

                    <label for="email" <% if (validation.email) { %> style='color: red' <% } %> >Email</label>
                    <input type="text" name="email" id="email" placeholder="email" value="<%= values.email %>" >

                    <label for="pass1" <% if (validation.pass1) { %> style='color: red' <% } %> >Password</label>
                    <div class="help-block">Must be at least 6 characters long, with at least one lowercase letter, one
                        uppercase letter, and one number.</div>
                    <input type="password" name="pass1" id="pass1" placeholder="password">

                    <label for="pass2" <% if (validation.pass2) { %> style='color: red' <% } %> >Verify
                        Password</label>
                    <input type="password" name="pass2" id="pass2" placeholder="password">

                    <input type="submit" name="submit_button" value="Submit" id="submit_button"
                        class="btn btn-default" />
                </form>

                <a class='login' href='/login'>Return to Login Page</a>
            </div>
        </div>
    </div>
    <%- include('includes/end.ejs') %>