.main.login {
    width: 100%;
}

.login-container {
    width: 450px;
    margin: auto;
    padding: 1rem;
    position: relative;
    background-color: #e9e9e9;
    top: 10rem;
}

.login-container form {
    position: relative;
    margin: auto;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    width: 100%;
}

.login-container form input[type="submit"] {
    position: relative;
    width: 60px;
    left: calc((100% - 60px)/2)
}

a.register {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}