body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

html,body {
    height:100%;
}

.navigation {
    height: 8rem;
    background-color: #5b9bd5;
}

.navigation .title {
    font-size: 3rem;
    color: white;
    float: left;
    height: 99%;
    background-color: #d9d9d9; 
}
.navigation .title .title-text {
    font: Arial;
    color: black;
    background-color: white;
    font-size: 1.5rem;
    height: 2rem;
    display: block;
}

.navigation .title img {
    height: calc(100% - 2rem);
    display: block;
}

.main {
    position: absolute;
    top: 8rem;
    display: inline-block;
    width: calc(100% - 20rem);
    min-height: calc(100% - 8rem);
}

.main .content {
    margin: 2rem;
}

a {
    color: #00B7FF;
}

.navigation .user-section {
    float: right;
    display: inline-block;
    height: 100%;
}

.navigation .user-section a {
    display: inline-block;
    height: 100%;
    padding: 0px;
    text-decoration: none;
}

.navigation .user-section a:any-link {
    color:white;
}

.navigation .user-section img {
    height: calc(100% - 2rem);
}
.navigation .user-section .captions {
    height: 1rem;
    font-size: 1rem;
    text-align: center;
}
.sidebar {
    width: 20rem;
    min-height: calc(100% - 8rem);
    display: inline-block;
    background-color: #d9d9d9;
    position: absolute;
    right: 0px;
}

.sidebar .link {
    cursor: pointer;
    height: 4rem;
    left: 1rem;
    width: 19rem;
    position: relative;
}

.sidebar .link div {
    display: inline-block;
    font-size: 2rem;
}

.sidebar .link a {
    width: 100%;
    height: 100%;
}
.sidebar .link .link-text-container {
    height: 100%;
    position: absolute;
    left: 5rem;
    width: 14rem;
    margin: auto;
}

.sidebar .link .link-text-container .link-text {
    top: 1rem;
    display: block;
    position: absolute;
    margin: 0px 5px;
    color: white;
}
.sidebar img {
    height:100%;
    display: inline-block;

}