.main.register {
    width: 100%;
}

.register-container {
    width: 450px;
    margin: auto;
    padding: 1rem;
    position: relative;
    background-color: #e9e9e9;
    top: 10rem;
}

.register-container form {
    position: relative;
    margin: auto;
}

.register-container form input[type="text"], .register-container form input[type="password"] {
    width: 100%;
}

.register-container form input[type="submit"] {
    position: relative;
    width: 60px;
    left: calc((100% - 60px)/2)
}

.newRegisterContainer {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-color: #94f7f1;
}

div.register-form-title {
    margin: auto;
    font-size: 2rem;
    font-weight: 700;
}

a.login {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.help-block {
    font-size: .75rem;
    color: grey;
}